.reason {
  position: relative;
  background: var(--bg-color);
  z-index: 0;

  .container {
    padding-top: 97px;
    padding-bottom: 96px;
  }

  &__title {
    margin-bottom: 12px;

    &__container {
      display: flex;
      justify-content: center;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 12%;
      height: 6px;
      background-color: var(--utility-color);
      border-radius: 2px;
      bottom: 11px;
      right: 0;
      z-index: -1;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 176%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--text-color);
    width: 846px;
    margin: 0 auto 50px;
  }

  &__button {
    position: relative;
    min-width: 157px;
    border: 2px solid var(--bg-second-color);
    border-radius: 5px;
    padding: 12px 13px 11px 14px;
    box-shadow: 0 10px 40px -12px rgba(196, 196, 196, 0.35);
    font-family: "Nunito", sans-serif;;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--text-second-color);
    cursor: pointer;
    margin-bottom: 60px;

    &:not(:last-child) {
      margin-right: 76px;
    }

    &__container {
      display: flex;
      justify-content: center;
    }

    &:hover,
    &:focus {
      background: var(--utility-color);
      color: var(--text-button);

      &:after {
        background: var(--utility-color);
      }

      &:before {
        background: var(--utility-color);
      }
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 22px;
      height: 22px;
      top: 50%;
      left: -41px;
      transform: translate(0, -50%);
      border-radius: 100%;
      background: var(--bg-second-color);
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 2px;
      width: 19px;
      top: 50%;
      left: -19px;
      transform: translate(0, -50%);
      background: var(--bg-second-color);
    }
  }

  &__content {
    display: flex;
    border-radius: 30px;
    width: 1280px;
    height: 413px;
    background: var(--text-button);

    &__img {
      width: 530px;
      height: 260px;
      border-radius: 25px;
      border: 10px solid var(--text-button);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
      background: #fff;
      margin-left: 41px;
      margin-top: 67px;
      margin-right: 139px;
    }

    &__description {
      position: relative;
      z-index: 0;
      margin-right: 67px;

      &__title {
        display: inline-block;
        position: relative;
        margin-top: 78px;
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 0.05em;
        color: var(--text-color);
        margin-bottom: 17px;

        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 6px;
          background-color: var(--utility-color);
          border-radius: 2px;
          bottom: 11px;
          right: 0;
          z-index: -1;
        }
      }

      &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 176%;
        letter-spacing: 0.02em;
        color: var(--text-color);
        margin-bottom: 30px;
      }

      &__button {
        border-radius: 5px;
        width: 157px;
        height: 48px;
        box-shadow: 0 10px 40px -12px rgba(30, 30, 30, 0.35);
        background: var(--text-color);
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: var(--text-button);
      }
    }
  }
}