.testimonials {
  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__title {
    margin-bottom: 50px;

    &__container {
      display: flex;
      justify-content: center;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 75%;
      height: 6px;
      background-color: var(--utility-color);
      border-radius: 2px;
      bottom: 11px;
      right: 0;
      z-index: -1;
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    position: relative;

    &__img {
      &:first-child,
      &:last-child {
        width: 62px;
        height: 62px;
      }

      &:nth-child(2),
      &:nth-child(4) {
        width: 118px;
        height: 118px;
      }

      &:not(:last-child) {
        margin-right: 80px;
      }
    }

    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 176%;
      letter-spacing: 0.02em;
      width: 846px;
      margin: 0 auto 28px;
      text-align: center;
      color: var(--text-color);
    }

    &__author {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-bottom: 28px;

      &__name {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 0.05em;
        color: var(--text-color);
        padding-right: 10px;
        border-right: 3px solid var(--text-color);
      }

      &__position {
        font-weight: 400;
        font-size: 17px;
        letter-spacing: 0.05em;
        color: var(--text-color);
        padding-left: 10px;
      }
    }

    &__pagination {
      display: flex;
      justify-content: center;
    }
  }
}