.button {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: var(--text-button);
  border-radius: 5px;
  width: 157px;
  height: 44px;
  box-shadow: 0 10px 40px -12px rgba(250, 202, 16, 0.35);
  background: var(--utility-color);
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}